<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPADemo/src/com/acc/lkm/UIcontroller/UIUpdate.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.acc.lkm.UIcontroller.UIUpdate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPADemo"/>
</launchConfiguration>
